@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Maven+Pro&display=swap');
$fonts-body: 'Comfortaa', cursive;
$pad:10px;
$bg-color:#f8f9fa;
$fonts-nav:'Maven Pro', sans-serif;
$full-width:100%;
$font-size:5rem;

