@import "mixin";
@import "reset";
@import "variables";

body {
  font-family: $fonts-body;
  overflow-x: hidden;
}

//MAIN banner
main {
  width: $full-width;
  padding: $pad;
  .mainchild {
    position: relative;
  }
  .gchild {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: transform 3s linear;
    h3 {
      font-size: $font-size;
      align-self: center;
      font-weight: bolder;
      margin: 20px;

      &:hover {
        transform: translateY(20%);
        cursor: pointer;
        color: #f1e7dd;
        background-color: transparent;
      }
    }
    h1 {
      position: absolute;
      bottom: 100%;
      left: 5%;
      font-size: 8rem;
      border: 1px solid transparent;
      border-radius: 40px;
      width: 800px;
      text-align: center;
      font-weight: bolder;
      animation: fly 5s ease-out alternate infinite;
      &:hover {
        transform: translateY(20%);
        cursor: pointer;
        color: #f1e7dd;
        background-color: transparent;
      }
    }
  }
  img {
    width: $full-width;
    height: calc(100vh - 70px);
    object-fit: cover;
    opacity: 0.85;
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .gchild {
      top: 8%;
      h3 {
        font-size: 4rem;
      }
      h1 {
        font-size: 6rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .gchild {
      top: 8%;

      h3 {
        font-size: 3rem;
      }

      h1 {
        font-size: 5rem;
      }
    }
  }
}

@keyframes fly {
  from {
    transform: translateX(-2000px);
  }
  to {
    transform: translateX(2000px);
  }
}
//Section grid
section {
  width: $full-width;
  padding: $pad;
  background-color: $bg-color;
  display: grid;
  grid-template-columns: repeat(1fr, 2) 100px 200px 200px 1fr;
  grid-template-rows: 100px repeat(1fr, 2) 100px 200px 100px;
  gap: 5px;
  height: 500px;
  .one img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  .one {
    grid-area: 2/2/5/3;
  }
  .two {
    padding: $pad;
    grid-area: 2/4/3/6;
    h3 {
      font-size: 3rem;
    }
    h6 {
      font-weight: bold;
    }
    p {
      text-align: left;
    }
  }
  .three {
    grid-area: 3/4/4/5;

    ul {
      list-style-type: disc;
      li {
        padding: $pad;
      }
    }
  }

  .four {
    margin-left: 20px;
    grid-area: 4/4/5/5;
    a {
      text-decoration: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
    height: auto;
  }
}
// section flex
.sec2 {
  width: $full-width;
  padding: $pad;
  background-color: $bg-color;
  height: 40%;
  h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    transition: all 2s linear;
    &:hover {
      transform: scale(1.5);
      color: grey;
    }
  }
  .flex-me {
    padding: $pad;
    background: url("./images/temple-cerulean-tP8ZwlCF8og-unsplash.jpg") center
      center/cover no-repeat;
    width: 50%;
    margin: 0 auto;
    @include flexBox(row, space-between, flex-start);

    div:nth-of-type(1) {
      i {
        transition: all 2s linear;
        &:hover {
          color: grey;
          transform: scale(1.5);
        }
      }
      h6 {
        font-weight: bold;
        &:hover {
          color: grey;
        }
      }
      p {
        &:hover {
          color: grey;
        }
      }
      p::before {
        content: "\f121";
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        transition: all 2s linear;
      }
    }

    div:nth-of-type(2) {
      i {
        transition: all 2s linear;
        &:hover {
          color: grey;
          transform: scale(1.5);
        }
      }
      h6 {
        font-weight: bold;
        &:hover {
          color: grey;
        }
      }
      p {
        &:hover {
          color: grey;
        }
      }
      p::before {
        content: "\f5ad";
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        transition: all 2s linear;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .flex-me {
      @include flexBox(column, space-between, flex-start);

      div:nth-of-type(1) {
        i {
          &:hover {
            color: white;
          }
        }
        h6 {
          &:hover {
            color: white;
          }
        }
        p {
          &:hover {
            color: white;
          }
        }
      }

      div:nth-of-type(2) {
        i {
          &:hover {
            color: white;
          }
        }
        h6 {
          &:hover {
            color: white;
          }
        }
        p {
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    h3 {
      margin-top: 50px;
    }
    .flex-me {
      @include flexBox(column, space-between, flex-start);

      div:nth-of-type(1) {
        i {
          &:hover {
            color: white;
          }
        }
        h6 {
          font-weight: bold;
          &:hover {
            color: white;
          }
        }
        p {
          &:hover {
            color: whitesmoke;
          }
        }
      }

      div:nth-of-type(2) {
        i {
          &:hover {
            color: white;
          }
        }
        h6 {
          &:hover {
            color: white;
          }
        }
        p {
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
// carousell section
.can-do {
  width: $full-width;
  margin-top: 50px;

  h3 {
    font-size: 3rem;
    text-align: center;
    transition: all 2s ease;
    &:hover {
      transform: scale(1.5);
      color: grey;
    }
  }
  h5 {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
  .carousel {
    margin-top: 50px;
    width: $full-width;
    height: 500px;

    .carousel-item img {
      height: 600px;
      object-fit: cover;
    }
  }
}
// Contact
.contact {
  margin-top: 150px;
  width: $full-width;
  height: auto;
  h3 {
    text-align: center;
    margin-top: 5px;
    transition: all 3s ease;
    &:hover {
      transform: scale(1.5);
    }
  }

  .flexme {
    padding: $pad;
    @include flexBox(row, space-between, center);
    // google -maps
    .mapouter {
      position: relative;
      text-align: right;
      height: 200px;
      width: 200px;
      margin-left: 10%;
      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 600px;
        width: 600px;
      }
    }
    // form-element
    form {
      @include flexBox(row, space-between, center);
      margin-right: 100px;
      margin-top: 100px;
      > div:nth-of-type(1) {
        margin-right: 50px;
      }

      label {
        font-weight: bold;
        display: block;
      }
      textarea {
        &:hover {
          background-color: lightblue;
        }
      }
      input {
        border-radius: 5px;
        border: 1px solid grey;
        display: block;
        width: 200px;
        height: 30px;
        margin-bottom: 10px;
        &:hover {
          background-color: lightblue;
          border: 0;
        }
      }
      input[type="text"]:focus {
        outline: 0;
        border: 0;
      }

      input[type="submit"]:focus {
        outline: 0;
        border: 0;
      }
      textarea:focus {
        outline: 0;
        background-color: lightblue;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .flexme {
      @include flexBox(column, space-between, center);
      .mapouter {
        margin-right: 50%;
      }
      form {
        @include flexBox(column, space-between, center);
        margin-top: 150px;
      }
    }
  }
  @media screen and(max-width:768px) {
    .flexme {
      @include flexBox(column, space-between, center);
      transform: translateX(-50%, -50%);
      .mapouter {
        margin-right: 60%;
      }
      form {
        margin-top: 150px;
        @include flexBox(column, center, center);
        transform: translateX(-50%, -50%);
      }
    }
  }
}
footer {
  border: 1px solid dodgerblue;
  height: 300px;
  margin-top: 50px;
  background-color: #184e77;
  .first-layer {
    width: $full-width;
    margin-top: 20px;
    padding: $pad;
    @include flexBox(row, space-between, center);
    > div:nth-of-type(1) {
      margin-left: 20%;
      margin-top: 20px;
      h6,
      li {
        color: white;
      }
    }
    > div:nth-of-type(2) {
      margin-right: 20%;
      margin-top: 20px;
      h6,
      li,
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .icons {
    @include flexBox(row, center, center);
    a {
      margin-left: 50px;
      font-size: 3rem;
      color: ghostwhite;
      transition: all ease 3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
